<html>
    <head>
        <title>To review Doctors</title>
        <style>
            #button_styling{
                color: red;
                width: 100px;
                height: 40px;
            }
        </style>
    </head>
    <body>
        <form action="/list">
            <button id="button_styling" type="submit">Show Doctors</button>
        </form>
    </body>
</html>